<!doctype html>
<html lang="<%= config.language %>">
<meta charset="utf-8">
<%- open_graph() %>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<style>body { background: black; margin: 0; overflow: hidden; }</style>
<title><%= config.title %></title>
<body>
<%- body -%>
  <script>
var cruzdanilo = Object.freeze(<%- content() -%>);
  </script>
<%_ entrypoints().forEach((src) => { _%>
  <script defer src="<%= src %>"></script>
<%_ }) _%>
</body>
</html>
